.project {
  height: 400px;
  position: relative;
}

.project__name {
  font-size: 25px;
}

.project__content {
  width: 45%;
  max-height: 260px;
  overflow: hidden;
}

.project__src {
  height: 400px;
}